body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a {
    color: red;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
}

h1 {
    text-align: center;
    color: #333;
}

h2, div {
    color: black;
}

p {
    color: #666;
}

form {
    margin-top: 10px;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #707070;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar a {
        margin: 10px 0;
    }
}

.change_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

.new_password{
    padding: 10px;
}

.submit_password{
    padding: 10px;
    margin-top: 15px;
}

.store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

