<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div>
        <nav class="nav-bar">
        <a href="/"><h3>Home</h3></a>
        <a href="/users">View User</a>
        <a href="/store">Store</a>
        <a href="/change_password">change_password</a>
        <a href="/logout">Logout</a>
    </nav>
    </div>
    <div>
        <!-- Welcome to our page, make it the website home page -->
        <h1>Welcome</h1>
        

    </div>

</body>
</html>

